body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 100px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


h2 {
    
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 60%;
}



#Ants {
    position: absolute;
    left: 34%;
    right: 30%;
    top: 40%;
}



#Liquid {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
}

#ChannelSplit {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
}

#Sliding {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
}
